webIPPublish/resources/helloservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="helloservice" targetNamespace="http://www.tabish.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tabish.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xs:schema targetNamespace="http://www.tabish.com">
				<xs:element name="add" type="tns:add"/>
				<xs:element name="add1" type="tns:add1"/>
				<xs:element name="add1Response" type="tns:add1Response"/>
				<xs:element name="addResponse" type="tns:addResponse"/>
				<xs:complexType name="add">
					<xs:sequence>
						<xs:element minOccurs="0" name="arg0" type="tns:helloInput"/>
					</xs:sequence>
				</xs:complexType>
				<xs:complexType name="helloInput">
					<xs:sequence>
						<xs:element minOccurs="0" name="b" type="xs:boolean"/>
						<xs:element minOccurs="0" name="f" type="xs:float"/>
						<xs:element name="i" type="xs:int"/>
						<xs:element minOccurs="0" name="l" type="xs:long"/>
						<xs:element minOccurs="0" name="l1" type="xs:long"/>
						<xs:element minOccurs="0" name="str" type="xs:string"/>
						<xs:element minOccurs="0" name="str2" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
				<xs:complexType name="addResponse">
					<xs:sequence>
						<xs:element minOccurs="0" name="return" type="tns:helloOutput"/>
					</xs:sequence>
				</xs:complexType>
				<xs:complexType name="helloOutput">
					<xs:sequence>
						<xs:element minOccurs="0" name="b_out" type="xs:boolean"/>
						<xs:element minOccurs="0" name="f_out" type="xs:float"/>
						<xs:element name="i_out" type="xs:int"/>
						<xs:element minOccurs="0" name="l1_out" type="xs:long"/>
						<xs:element minOccurs="0" name="l_out" type="xs:long"/>
						<xs:element minOccurs="0" name="str2_out" type="xs:string"/>
						<xs:element minOccurs="0" name="str_out" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
				<xs:complexType name="add1">
					<xs:sequence>
						<xs:element minOccurs="0" name="arg0" type="tns:helloInput"/>
					</xs:sequence>
				</xs:complexType>
				<xs:complexType name="add1Response">
					<xs:sequence>
						<xs:element minOccurs="0" name="return" type="tns:helloOutput"/>
					</xs:sequence>
				</xs:complexType>
			</xs:schema>
  </types>
  <message name="add1">
    <part name="parameters" element="tns:add1">
    </part>
  </message>
  <message name="add">
    <part name="parameters" element="tns:add">
    </part>
  </message>
  <message name="add1Response">
    <part name="parameters" element="tns:add1Response">
    </part>
  </message>
  <message name="addResponse">
    <part name="parameters" element="tns:addResponse">
    </part>
  </message>
  <portType name="hellomethod">
    <operation name="add">
      <input message="tns:add">
    </input>
      <output message="tns:addResponse">
    </output>
    </operation>
    <operation name="add1">
      <input message="tns:add1">
    </input>
      <output message="tns:add1Response">
    </output>
    </operation>
  </portType>
  <binding name="helloportBinding" type="tns:hellomethod">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="add">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="add1">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="helloservice">
    <port name="helloport" binding="tns:helloportBinding">
      <soap:address location="http://localhost:7001//webIPPublish/helloservice"/>
    </port>
  </service>
</definitions>
